body{
   box-sizing: border-box;
   margin: 0;
   background-color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: 'Bebas Neue', sans-serif;
   width: 100%;
   height: 100%;
}





input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width: 15rem;
       height: 2rem;
 }
 

 input[type="range"]:focus {
   outline: none;
 }
 

 input[type="range"]::-webkit-slider-runnable-track {
    background-color: #303436;
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 0.5rem;  
 }
 

 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
    appearance: none;
    margin-top: -13px; 
 
    border: 1px solid #4a5d60;
    outline: 3px outset #042b47;
    background-color: #6e8488;
    height: 2rem;
    width: 1rem;
 }
 
 

 input[type="range"]::-moz-range-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;
 }
 

 input[type="range"]::-moz-range-thumb {
    border: none; 
    border-radius: 0; 
 
    
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
 }
 
 input[type="range"]:focus::-moz-range-thumb {
   border: 1px solid #053a5f;
   outline: 3px outset #042b47;
   outline-offset: 0.125rem; 
 }





 .infoBox{
    background-color: black;
    color: rgb(170, 140, 140);
    height: 1.9em;
    width: 2.8em;
    text-align: center;
    border: 3px inset #CD7F32;
    outline: 1px solid #924d08;
    border-radius: .7em;
 
 }

 .box{
   
    background-color:rgba(211, 211, 211, 0.186);
    border: 4px outset #CD7F32;
    outline: 1px solid #924d08;
    border-radius: .7em;
}
