.canvas{
  
    width: 50em;
    height: 15em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: 5px inset 	#CD7F32;
    outline: 1px solid #924d08;
    background-color: #042054;
}

.audioCanvas{
    height: 100%;
    width: 100%;
}