.canvas2{
  
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px inset #CD7F32;
    outline: 1px solid #924d08;
   
    background-color: #042054;
}

.audioCanvas2{
    display:flex;
    height: 80%;
    width: 100%;
}

.visualizer2AndLogo{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:1em;
  width:30em;
  height: 15.5em
}

.logo{
    width: 100%;
    height: 50%;
}