
.seqBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1em;
    
}
.seqSteps{
       display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    row-gap: 1em;
    column-gap: 1em;
}

.indvStep{
height:6.5em;
width:5em;
background-color: rgba(165, 42, 42, 0.64);
border: 3px outset #CD7F32;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap:1.75em;
}

.lightOff{
    height:2em;
    width: 2em;
    background-color: rgb(47, 37, 37);
    border-radius: 45px;
    border: 3px outset #CD7F32
}

.lightOn{
    height:2em;
    width: 2em;
    background-color: #d54d74;
    border-radius: 45px;
    border: 3px outset #CD7F32;
    box-shadow: 0 0 10px #c8627f, 0 0 20px #c46e86, 0 0 30px #D42054, 0 0 40px #D42054;
}
.startStopBtn{
    height: 2em;;
    width: 70%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5em;
    background-color: #7e3e50;
    border: 3px outset #8d561f;
}

.startStopBtn:active {
    border-style: inset;
}

.update{
    height: 2em;;
    width: 30%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5em;
    background-color: #7e3e50;
    border: 3px outset #8d561f;
}

.update:active {
    border-style: inset;
}

.dropDown{
    font-family: 'Bebas Neue', sans-serif;
    background-color: lightgray;
    font-size: 1em;
    border-radius: .3em;
    background-color: tan;
    border: 2px inset #8d561f;
}

.startStopSpeed{
    display: flex;
    gap:1em;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.speed{
    display: flex;
    gap:.5em;
    align-items: center;
    justify-content: center;
    
}

.speedDisplay{
    background-color: black;
    color: rgb(170, 140, 140);
    height: 1.2em;
    width: 2.5em;
    text-align: center;
    border: 3px inset #dc954d;
    outline: 1px solid #924d08;
    border-radius: .7em;

}

.startAndUpdate{
    display: flex;
    gap:1em;
    align-items: center;
    justify-content: center;
    width:100%

}