
.width{
    background-color: rgba(211, 211, 211, 0.186);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:7em;
    width:2.2em;
    height:20em;
    padding: 1em;
    
}

.width-slider{
   transform: rotate(-90deg);
}
